body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4fdfa;
    color: #2f3e46;
    margin: 0;
    padding: 0;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}
